#modalCampania:not(:has(.campania-form .first-step)):not( :has(.campania-form .last-step)) .buttons-navegacion {
  display: flex;
}

.preview-iframe {
  width: 100%;
  min-height: 500px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
}

.programaciones-collapse {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease, padding 0.2s ease;
  background: #fff;
}

.programaciones-collapse.open {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.programaciones-collapse.open table tbody tr:last-child td {
  border-bottom-width: 0px;
}

.campania-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.campania-row:hover,
.campania-row.expanded {
  background-color: var(--default-bg-color-light);
}

#campaniasList:has(.campania-row:not(.expanded)) .programaciones-row:not(:has(.programaciones-collapse.open)) td:first-child {
  border-width: 0px;
}