@import url("./variables.css");

.fc .fc-scrollgrid-liquid {
  border-radius: 1rem;
  border: 1px solid var(--default-border-color);
  box-shadow: 0px 1px 6px var(--default-bg-color-light);
}

.fc thead .fc-scroller {
  overflow: hidden !important;
  border-bottom: 1px solid var(--default-border-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.fc a {
  color: var(--default-text-color);
}

.fc button {
  background-color: #fff !important;
  border: 1px solid var(--default-border-color) !important;
  color: var(--default-text-color) !important;
  border-radius: 0.5em !important;
}

.fc button:hover {
  background-color: var(--default-bg-color-light) !important;
}

.fc button:not(:disabled).fc-button-active,
.fc button:not(:disabled):active {
  background-color: var(--default-bg-color-light) !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.fc .fc-day-today {
  background: #d6daff20 !important;
}

.fc .fc-timegrid-slot {
  height: 2em;
}

.fc thead,
.fc tbody,
.fc tr,
.fc th,
.fc td {
  border: 1px solid var(--default-border-color);
}

.fc tr:last-child {
  border-bottom-style: hidden !important;
}

.fc td:last-child {
  border-right-style: hidden !important;
}

.fc thead th {
  border-right-style: hidden !important;
}

.fc tbody tr:last-child td:first-child {
  border-bottom-style: hidden !important;
}

.fc-highlight {
  background-color: transparent !important;
}

#calendar {
  max-height: 100% !important;
  height: 100% !important;
}

#calendar .fc table {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--default-border-color);
}

#miniCalendar {
  min-height: 100% !important;
  height: 100% !important;
  width: 100% !important;
}

.ql-toolbar {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.ql-container {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.ql-editor {
  min-height: 240px !important;
}
