@import url("../css/variables.css");

input,
select,
.form-control {
  border-color: transparent !important;
  border: none !important;
  border-radius: 0.5rem;
  background-color: var(--default-bg-color-light) !important;
  color: var(--default-text-color) !important;
  font-family: "Poppins", sans-serif !important;
}

input.form-check-input {
  border-color: var(--default-border-color) !important;
}

input.form-check-input:hover {
  border-color: var(--default-text-color) !important;
}

input.form-check-input:checked {
  border-color: var(--default-theme-color) !important;
  background-color: var(--default-theme-color) !important;
}

input.form-check-input:checked:hover {
  border-color: var(--default-theme-color-dark) !important;
  background-color: var(--default-theme-color-dark) !important;
}

input:focus {
  box-shadow: none !important;
  background-color: var(--default-bg-color-light) !important;
}

.input-group:has(input:-internal-autofill-selected) {
  background-color: light-dark(rgb(232, 240, 254),
      rgba(70, 90, 126, 0.4)) !important;
}

.input-group input:-internal-autofill-selected {
  background-color: transparent !important;
}

.input-group input {
  border-right: none !important;
}

.input-group button {
  border: 1px solid var(--default-border-color);
  border-left: none !important;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
}

.form-control.underline {
  border: none !important;
  border-bottom: 1px solid var(--default-border-color) !important;
  border-radius: 0% !important;
}

.grupo-input {
  border-radius: 0.5rem;
  border: none;
  border-color: transparent;
  background-color: var(--default-bg-color-light);
  display: flex;
  align-items: center;
  font-size: 14px;
}

.grupo-input.login svg {
  max-height: unset !important;
  margin-inline: 0;
}

.grupo-input input {
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 0.5rem;
  padding-left: 0;
  color: var(--default-text-color);
}

.grupo-input svg {
  max-height: 16px;
  margin-inline: 0.5rem;
}

.grupo-input:has(.form-control.underline) {
  border: none !important;
  border-radius: 0% !important;
}

.grupo-input:has(.form-control.underline) input {
  border: none !important;
  border-bottom: 1px solid var(--default-border-color) !important;
}

.grupo-input:has(.form-control.underline) svg {
  border: none !important;
  border-bottom: none !important;
  margin-right: 0.25rem !important;
}

/*
.grupo-input:has(input:-internal-autofill-selected) {
    background-color: light-dark(rgba(232, 240, 254, 0.4), rgba(70, 90, 126, 0.4)) !important;
}
    */

.grupo-input:has(input:-internal-autofill-selected)>* {
  background-color: transparent !important;
}

.foto-user {
  width: 17vh;
  height: 17vh;
  background-color: var(--default-bg-color-light);
  border-radius: 50%;
  overflow: hidden;
}

.foto-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recomendacion-foto {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.recomendacion-foto p {
  margin: 0;
  font-size: 12px;
  color: var(--default-text-color);
  font-weight: 500;
  text-align: center;
}

.file-upload-wrapper {
  position: relative;
  overflow: hidden;
  border: 3px dashed var(--info-text-color);
  border-radius: 1rem;
  padding: 12px;
  text-align: center;
  background: var(--info-bg-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

.file-upload-wrapper:hover {
  background-color: var(--info-bg-color-hover);
}

.file-upload-wrapper.dragover {
  border-color: var(--success-text-color);
  background: var(--success-bg-color);
  transform: scale(1.02);
}

.file-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-icon {
  font-size: 4rem;
  color: var(--info-text-color);
  margin-bottom: 20px;
}

.upload-text {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}

.upload-subtext {
  font-size: 0.9rem;
  color: #666;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.progress-container {
  display: none;
  margin-top: 20px;
}

.progress-container.active {
  display: block;
}