:root {
  --default-dark-bg: #1a002b;
  --default-light-bg: #f4f4f5;
}

body {
  font-family: "Fredoka", sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.main-container {
  background-color: var(--default-dark-bg);
  background-image: radial-gradient(
      circle at 80% 20%,
      rgba(255, 0, 255, 0.3),
      transparent 40%
    ),
    radial-gradient(circle at 60% 80%, rgba(0, 200, 255, 0.25), transparent 50%),
    radial-gradient(circle at 30% 70%, rgba(200, 0, 255, 0.35), transparent 40%);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-container {
  padding: 1.5rem;
  padding-left: 0;
  height: 100%;
}

.page-content {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 2rem;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 0.75rem;
  padding-block: 2.5rem;
  height: 100%;
}

.sidebar-header {
  margin-bottom: 6rem;
  flex-grow: 1;
}

.sidebar-header .logo svg {
  min-width: 46px;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2.5rem;
  width: 100%;
}

.sidebar i {
  color: #fff;
}

.sidebar svg {
  color: #fff;
  max-width: 26px;
}

.sidebar-item {
  cursor: pointer;
  padding: 5px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.sidebar-item:hover {
  background-color: rgba(200, 0, 255, 0.25);
  border-radius: 0.5rem;
}

.sidebar-footer {
  margin-top: 6rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3rem;
  width: 100%;
}

.menu-button {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 2rem;
  align-items: end;
  justify-content: center;
}

.menu-submenu {
  display: none;
  flex-direction: column;
  border-radius: 1rem;
  position: absolute;
  background-color: #fff;
  left: 2rem;
  min-width: 160px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  z-index: 2000;
}

.submenu-item {
  color: #000;
  text-align: start;
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
}

.submenu-item:hover {
  background-color: #f4f4f5;
}

.submenu-item:hover:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.submenu-item:hover:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.submenu-item svg,
.submenu-item svg path {
  color: #000;
  stroke: #000;
}

.submenu-item:not(:last-child) {
  border-bottom: 1px solid #1a002b25;
}

.user-icon {
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  width: 62px;
  height: 62px;
}

.user-icon.sm {
  width: 26px;
  height: 26px;
}
