@import url("./variables.css");
@import url("./form.css");
@import url("./sidebar.css");
@import url("./header.css");
@import url("./typography.css");
@import url("./buttons.css");
@import url("./toast.css");
@import url("./general.css");
@import url("./login.css");

:root {
  --animate-duration: 0.8s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-internal-autofill-selected select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-internal-autofill-selected .form-control:-webkit-autofill:focus,
.form-select:-webkit-autofill:focus,
.form-control:-internal-autofill-selected,
.form-select:-internal-autofill-selected {
  background-color: transparent !important;
  color: var(--default-text-color) !important;
  font-family: "Poppins", sans-serif !important;
  transition: background-color 5000000s ease-in-out 0s;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--default-text-color);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

* {
  font-family: "Poppins", sans-serif !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #59636d0f;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #76869e75;
  border-radius: 4px;
}

svg,
svg path {
  color: var(--default-text-color);
  stroke: var(--default-text-color);
}

.bg-default {
  background-color: var(--default-theme-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-theme-color) !important;
}

.bg-light {
  background-color: var(--default-bg-color-light) !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-accent {
  background-color: var(--default-theme-color-accent) !important;
}

.bg-default:not(.disable-hover):hover {
  background-color: var(--default-theme-color-dark) !important;
}

.bg-secondary:not(.disable-hover):hover {
  background-color: var(--secondary-theme-color-dark) !important;
}

.bg-accent:not(.disable-hover):hover {
  background-color: var(--default-theme-color-dark);
}

.bg-light:not(.disable-hover):hover {
  background-color: #e4e7f1 !important;
}

.bg-success {
  background-color: var(--success-bg-color) !important;
  transition: background-color 0.2s ease-in-out;
}

.bg-success:not(.disable-hover):hover {
  background-color: var(--success-bg-color-hover) !important;
}

.border-success {
  border-color: var(--success-text-color) !important;
}

.text-success {
  color: var(--success-text-color) !important;
}

.bg-warning {
  background-color: var(--warning-bg-color) !important;
  transition: background-color 0.2s ease-in-out;
}

.bg-warning:not(.disable-hover):hover {
  background-color: var(--warning-bg-color-hover) !important;
}

.border-warning {
  border-color: var(--warning-text-color) !important;
}

.text-warning {
  color: var(--warning-text-color) !important;
}

.bg-info {
  background-color: var(--info-bg-color) !important;
  transition: background-color 0.2s ease-in-out;
}

.bg-info:not(.disable-hover):hover {
  background-color: var(--info-bg-color-hover) !important;
}

.border-info {
  border-color: var(--info-text-color) !important;
}

.text-info {
  color: var(--info-text-color) !important;
}

.bg-danger {
  background-color: var(--danger-bg-color) !important;
  transition: background-color 0.2s ease-in-out;
}

.bg-danger:not(.disable-hover):hover {
  background-color: var(--danger-bg-color-hover) !important;
}

.bg-text-danger {
  background-color: var(--danger-text-color) !important;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.bg-text-danger:not(.disable-hover):hover {
  background-color: #cc2e3b !important;
}

.border-danger {
  border-color: var(--danger-text-color) !important;
}

.text-danger {
  color: var(--danger-text-color) !important;
}

.main-container {
  background-color: #fff;
  /*
    background-image: radial-gradient(circle at 80% 20%,
            rgba(255, 0, 255, 0.3),
            transparent 40%),
        radial-gradient(circle at 60% 80%, rgba(0, 200, 255, 0.25), transparent 50%),
        radial-gradient(circle at 30% 70%, rgba(200, 0, 255, 0.35), transparent 40%);
    background-attachment: fixed;
    background-size: cover;
    */
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  padding: 0;
  height: 100%;
}

.page-container {
  height: 100%;
  background-color: var(--default-light-bg);
  padding-top: 0;
  border-radius: 2rem;
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  padding: 1rem;
}

.page-header .page-title {
  flex-grow: 1;
}

.page-content {
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  height: 85%;
  max-height: 85%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  padding-top: 1rem;
  z-index: 0;
  overflow-y: auto;
}

.clickable {
  cursor: pointer !important;
}

.user-icon {
  border-radius: 50%;
  object-fit: cover;
  width: 62px;
  height: 62px;
}

.user-icon img {
  width: 100%;
  height: 100%;
}

.user-icon.sm {
  width: 34px;
  height: 34px;
}

.menu-button {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 2rem;
  align-items: end;
}

.menu-submenu {
  display: none;
  flex-direction: column;
  border-radius: 1rem;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  z-index: 2000;
}

.busqueda-grupo {
  position: relative;
}

.resultados-busqueda {
  display: none;
  flex-direction: column;
  border: 1px solid var(--default-border-color);
  border-radius: 0.5rem;
  position: absolute;
  background-color: #fff;
  color: var(--default-text-color);
  width: 100%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.resultado-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  cursor: pointer;
}

.resultado-item svg {
  width: 16px !important;
  height: 16px !important;
}

.resultado-item:not(:last-child) {
  border-bottom: 1px solid var(--default-border-color);
}

.resultado-item:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.resultado-item:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.resultado-item:hover,
.resultado-item.selected {
  background-color: var(--default-bg-color-light);
  color: var(--secondary-theme-color);
}

.resultado-item:hover svg path,
.resultado-item.selected svg path {
  stroke: var(--secondary-theme-color);
}

.tabs-container {
  background-color: var(--default-bg-color-light);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.tab-item {
  padding: 0.75rem 1.25rem;
  display: flex;
  gap: 0.25rem;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tab-item:hover {
  background-color: #e5e7ee;
}

.tab-item:hover:not(:first-child):not(:last-child) {
  border-radius: 0.5rem;
}

.tab-item.items-length {
  color: #7269ad;
}

.tab-item.selected {
  background-color: var(--default-theme-color-accent);
  color: #fff;
}

.container-shadow {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 12px var(--default-shadow-color);
}

.container-border {
  padding: 1rem;
  border: 1px solid var(--default-border-color);
  border-radius: 1rem;
}

.container-backdrop {
  padding: 1rem;
  border: 1px solid #ffffff40;
  border-radius: 1rem;
  background-color: #89898940;
  backdrop-filter: blur(10px);
}

.icons-row {
  display: flex;
  gap: 0.25rem;
}

.chip {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  background-color: var(--info-bg-color);
  color: var(--info-text-color);
  width: fit-content;
}

.chip.chip-outline {
  background: transparent;
  border-color: var(--default-border-color);
  color: var(--default-border-color);
}

.chip.chip-success {
  background-color: var(--success-bg-color);
  color: var(--success-text-color);
}

.chip.chip-warning {
  background-color: var(--warning-bg-color);
  color: var(--warning-text-color);
}

.chip.chip-danger {
  background-color: var(--danger-bg-color);
  color: var(--danger-text-color);
}

.chip.chip-info {
  background-color: var(--info-bg-color);
  color: var(--info-text-color);
}

.chip.chip-success.chip-outline {
  background: transparent;
  border: 1px solid var(--success-text-color);
  color: var(--success-text-color);
}

.chip.chip-warning.chip-outline {
  background: transparent;
  border: 1px solid var(--warning-text-color);
  color: var(--warning-text-color);
}

.chip.chip-info.chip-outline {
  background: transparent;
  border: 1px solid var(--info-text-color);
  color: var(--info-text-color);
}

.chip.chip-danger.chip-outline {
  background: transparent;
  border: 1px solid var(--danger-text-color);
  color: var(--danger-text-color);
}

.info-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-row svg,
.info-row path {
  max-width: 16px;
}

.modal-header,
.modal-footer {
  border: none;
  background-color: var(--default-bg-color-light);
}

.modal-header {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.modal-footer {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.modal-content {
  border-radius: 1rem !important;
}

.selector-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selector-item {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--default-border-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.selector-item:hover {
  background-color: var(--default-bg-color-light);
}

.selector-item.selected {
  border: 1px solid var(--default-bg-color);
  background-color: var(--default-bg-color-light);
  color: var(--default-theme-color);
}

.popup {
  position: absolute;
  background: white;
  border: 1px solid var(--default-border-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px var(--default-shadow-color);
  display: none;
  z-index: 1000;
  width: 280px;
}
