.sidebar {
  background-color: var(--default-bg-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2.5rem;
  height: 100%;
}

.sidebar-header {
  flex-grow: 1;
}

.sidebar-header .logo svg {
  min-width: 42px;
}

.sidebar-header .logo svg path {
  stroke: none;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar svg {
  color: var(--secondary-theme-color);
  max-width: 26px;
}

.sidebar svg path {
  color: var(--secondary-theme-color);
  stroke: var(--secondary-theme-color);
}

.sidebar-item {
  cursor: pointer;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.sidebar-item-left {
  width: 1rem;
}

.sidebar-item-content {
  flex-grow: 1;
  display: flex;
}

.sidebar-item-content-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.sidebar-content-corner {
  display: flex;
  flex-direction: column;
  width: 1rem;
}

.sidebar-item-content-divider {
  height: 0.75rem;
}

.sidebar-link {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-link a {
  color: var(--default-text-color);
}

.sidebar-link-right {
  flex-grow: 1;
  background-color: var(--default-bg-color-light);
}

.sidebar-content-corner-top,
.sidebar-content-corner-bottom {
  height: 0.75rem;
  background-color: var(--default-bg-color-light);
}

.sidebar-item.active .sidebar-link,
.sidebar-item.active .sidebar-link-right,
.sidebar-item.active .sidebar-content-corner {
  background-color: var(--default-light-bg);
}

.sidebar-item.active .sidebar-link {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sidebar-item.active:hover .sidebar-link {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sidebar-link:hover {
  background-color: var(--default-light-bg);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.sidebar-item.active .sidebar-content-corner-top {
  border-bottom-right-radius: 1rem;
}

.sidebar-item.active .sidebar-content-corner-bottom {
  border-top-right-radius: 1rem;
}

.sidebar-footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3rem;
  width: 100%;
}

.submenu-item {
  color: var(--default-text-color);
  text-align: start;
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
}

.submenu-item:hover {
  background-color: #f4f4f5;
}

.submenu-item:hover:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.submenu-item:hover:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.submenu-item:not(:last-child) {
  border-bottom: 1px solid #1a002b25;
}
