:root {
  --default-dark-bg: #1a002b;
  --default-light-bg: #eef0f4;
  --default-theme-color: #5e51ac;
  --default-bg-color: #d5d0f7;
  --default-bg-color-light: #eeecfc;
  --default-theme-color-light: #f1f2f6;
  --default-theme-color-accent: #5e36ba;
  --default-theme-color-dark: #5332af;
  --default-border-color: #dddee4;
  --default-shadow-color: #d5d8df;
  --default-text-color: #73707c;
  --large-text-color: #1c191c;
  --medium-text-color: #909198;
  --small-text-color: #a7a8ac;
  --success-bg-color: #dbfaf1;
  --warning-bg-color: #fff8e6;
  --info-bg-color: #dbfeff;
  --danger-bg-color: #fddbdf;
  --success-text-color: #3ad6aa;
  --warning-text-color: #fdc447;
  --danger-text-color: #d63a47;
  --info-text-color: #3ad1d6;
  --success-bg-color-hover: #caf7ea;
  --warning-bg-color-hover: #fcf0d4;
  --info-bg-color-hover: #caf8fa;
  --danger-bg-color-hover: #faced3;
}
