:root {
  --default-dark-bg: #1a002b;
  --default-light-bg: #fff;
  --default-theme-color: #05c452;
  --default-bg-color: #ffffff;
  --default-bg-color-light: #f4f4f4;
  --default-bg-color-dark: #d4d4d4;
  --default-theme-color-light: #a8f8c8;
  --default-theme-color-accent: #00b347;
  --default-theme-color-dark: #009b3e;
  --default-border-color: #dddee4;
  --default-shadow-color: #d5d8df;
  --default-text-color: #494949;
  --primary-theme-color: #3f95e6;
  --primary-theme-color-light: #c1daff;
  --primary-theme-color-accent: #0a7ae2;
  --primary-theme-color-dark: #073985;
  --secondary-theme-color: #0e2b6d;
  --secondary-theme-color-light: #504897;
  --secondary-theme-color-accent: #18105f;
  --secondary-theme-color-dark: #19124b;
  --large-text-color: #1c191c;
  --medium-text-color: #909198;
  --small-text-color: #a7a8ac;
  --success-bg-color: #dbfae7;
  --warning-bg-color: #fff8e6;
  --info-bg-color: #dbfeff;
  --danger-bg-color: #fddbdf;
  --success-text-color: #008033;
  --warning-text-color: #fdc447;
  --danger-text-color: #d63a47;
  --info-text-color: #3ad1d6;
  --success-bg-color-hover: #b8e7cb;
  --warning-bg-color-hover: #fcf0d4;
  --info-bg-color-hover: #caf8fa;
  --danger-bg-color-hover: #faced3;
}
